:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f6fa;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.comment-side-div {
  background-color: #f5f6fa;
  color: #4f52b1;
}

.p-reply {
  color: #4f52b1;
}

.p-delete {
  color: #ed6565;
}

.p-date, label {
  color: gray;
}

.btn-send {
  background-color: #4f52b1;
}

.btn-send:hover {
  background-color: #c4c6ef;
  border-color: #c4c6ef;
}

textarea {
  resize: none;
}

textarea:hover {
  border: 1px solid black;
  cursor: pointer;
}

.btn-reply, .btn-delete {
  background-color: white;
}

.btn-reply:hover, .btn-delete:hover {
  border-color: transparent;
}

.btn-reply:hover p {
  color: #c4c6ef;
}

.btn-delete:hover p {
  color: #ecbac5;
}

.btn-vote:hover {
  border-color: transparent;
}

.div-replies::before {
  content: "";
  position: absolute;
  left: 7%;
  top: 0;
  bottom: 16px;
  width: 2px;
  background-color: lightgray;
}

.p-you {
  color: white;
  background-color: #4f52b1;
  font-weight: bold;
  padding: 0px 10px 3px 10px;
  border-radius: 2px;
}

.div-add-comments {
  height: 120px;
}

@media (max-width: 768px) {
  .div-add-comments {
    height: 160px;
  }

  .btn-reply, .btn-delete {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .btn-reply, .btn-delete {
    padding: 5px;
  }
}